* {
  margin: 0;
  padding: 0;
}
.social {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  background-color: silver;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  font-size: 40px;
  transition: all 0.3s linear;
  box-shadow: 4px 2px 4px 2px lightslategray;
}
a:hover i {
  transform: scale(1.9);
}
.fa-facebook {
  color: #3b5999;
}
.fa-instagram {
  color: #e4405f;
}

.fa-google {
  color: #4285f4;
}

.fa-youtube {
  color: #cd201f;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-twitter {
  color: #55acee;
}
.fa-quora {
  color: #b92b27;
}
.fa-linkedin:active {
  color: aqua;
}
